{% extends "base_usuario.html" %}
{% block body %}
    <form class="form-signin" role="form"
          action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        <input id="id_username" name="username"

               class="form-control" placeholder="Nome" required autofocus>

        <input type="password" id="id_password" name="password"
               class="form-control" placeholder="Senha" required>

        <button class="btn btn-lg btn-primary btn-block"
                type="submit" value="Login">Login
        </button>

        {% if form.errors %}
            <div class="alert alert-danger">

                Por favor, verifique o Nome e/ou Senha informados
            </div>
        {% endif %}
        <a href="{% url 'registrar' %}">registre-se</a><br>
        <a href="{% url 'login_aquabit' %}">Login como usuario aquabit</a><br>
        <a href="{% url 'resetsenha' %}">Resetar senha</a>

    </form>
{% endblock %}